/* .main-content-div{
    
} */
/* .sidebar-div{

} */
.slider-section{
    padding: 10px 0px 40px 0px;
}
.event-marquee{
    font-size: 20px;
    padding-top: 3px;
    font-weight: bold;
    background-color: gray;
}