.bani-content-div {
    background-color: #F1F8E9;
    margin-top: 10px;
    padding-top: 10px;
}

.bani-img-title {
    margin: 20px 0px 20px 0px;
}
.bani-img-name{
    color: #a60e00;
    font-size: 30px;
}

.bani-img-title h5 {
    line-height: 12px;
    font-weight: bold;
}

.bani-img-div img {
    border: 2px solid #004D40;
    padding: 5px;
}

.sampadakBani-text-area {
    margin-top: 20px;
}

.sampadakBani-text-area p {
    font-size: 23px;
}

.sampadakBani-text-area h5 {
    font-weight: bold;
}