.latest-update-area{
    margin-top: 70px;
}
.update-card{
    box-shadow: 2px 2px 10px 3px grey;
}
.update-title{
    font-weight: bold;
    line-height: 25px;
}
.continue-read{
    margin-bottom: 3px;
    font-size: 22px;
    color: #FDD53D;
    cursor: pointer;
}
.continue-read:hover{
    color: #3dfd3d;
}
.whatUp{
    margin: 0;
    color: #FDD53D;
    font-weight: bold;
    font-size: 20px;
}
.latest-update{
    font-weight: bold;
    margin: 0;
}
.update-hr{
    margin: 0 auto;
    margin-bottom: 40px;
    height: 10px;
    width: 10%;
    margin-top: 5px;
    border-radius: 50px;
    background-color: #FDD53D;
}